.DS_Store
.DS_Store?

gwt-unitCache/*
/test-classes/
*.class
/build/*
/out/*
.gradle
.idea/libraries
.gradle
.idea/*
**/gwt-unitCache
build
*.cache.js
OM_master.iml
/scratch/
/gwt/gov/noaa/pmel/sdig/client/DashboardLayout.ui.xml.sed-backup*
/.idea/**
/*.log
/logs/MetadataEditor.log
/extras/oapmetadataeditor/
/content/MetadataEditor/stash
/logs/production/
