/** Add css rules here for your application. */
.benone {
    border: none !important;
    /* padding-bottom: 10px !important; */
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: middle;
}

.control-label {
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    word-break: break-all;*/
/*    text-overflow: ellipsis;*/
    width: 89%;
}

.tightenTBmargins {
    margin-top: 2px !important;
    margin-bottom: 5px !important;
}
.co2table {
    margin: 5px;
    margin-right: 10px !important;
}
.twentypct {
   width:20%;
}
.buttonBar {
   padding-top: 10px;
}

/*.btn-group-justified > .btn {*/
/*    width: auto !important;*/
/*    display: inline-block !important;*/
/*}*/

.modal-content, .modal-content blockquote {
    font-size: 1.6rem;
}

@media (max-width: 767px) {
    /*applied if browser window width is less than or equal to 767px*/
    .metadata-button-group {
        min-width: 117px;
    }
    .metadata-button-group .btn {
        color: transparent !important;
    }
    .metadata-button-group .btn > .fa {
        color: white !important; /* or color of your choice */
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        margin: 0 auto;
        display: inline-block !important;
        /*height: 34px;*/
    }

    .metadata-action-button-group > .pull-right {
        float: none !important;
    }

    .inputgroupoverlay.input-group .input-group-btn {
        width:99%;
        display:block;
        margin-bottom:5px;
    }
    .inputgroupoverlay.input-group .input-group-btn .btn {
        /*width: 34%;*/
        width: 100%;
    }
    .inputgroupoverlay.input-group .input-group-btn .btn:last-child {
        border-radius:4px 4px 4px 4px
    }
    .inputgroupoverlay {
        display: block
    }

    /*.inputgroupoverlay.input-group  .input-group-addon {*/
    /*    clear: both;*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*    border: 1px solid #ccc;*/
    /*    border-radius: 4px;*/
    /*}*/
    /*.inputgroupoverlay.input-group .input-group-addon + .form-control {*/
    /*    border-radius: 4px;*/
    /*    margin-bottom: 5px;*/
    /*}*/
    .inputgroupoverlay.input-group .form-control {
        border-radius: 4px !important;
        margin-bottom: 5px;
    }
    .fakeinputposition {
        height: 6em!important;
    }
}

@media (min-width: 768px) {
    /*applied if browser window width is greater than 768px*/
    .metadata-button-group .btn > .fa {
        display: none;
    }
}


fieldset legend {
   font-size: 110%;
   font-weight: bold;
   padding-top: 1em;
   margin-bottom: 0px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.fakeinputposition {
    position: relative;
    height: 3em;
}
.inputgroupoverlay {
    position: absolute;
    padding: 0;
    top: -34px;
    left: 0;
    display: inline-block;
    z-index: 1;
    /*background-color: rgba(0,0,0,0.5); !*dim the background*!*/
}

.over {
    cursor: pointer !important;
}
.pointer-cursor {
    cursor: pointer !important;
}

/*.over {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    !*z-index: 1;*!*/
/*}*/
/*.overright {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 155px;*/
/*}*/
.disappear {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}
/* https://groups.google.com/forum/#!topic/gwtbootstrap3/3Yd5fxfEHYA */
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/*.btn-file {*/

/*  position: relative;*/
/*  overflow: hidden;*/

/*}*/

/*.btn-file input[type=file] {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  min-width: 100%;*/
/*  min-height: 100%;*/
/*  font-size: 999px;*/
/*  text-align: right;*/
/*  filter: alpha(opacity=0);*/
/*  opacity: 0;*/
/*  outline: none;*/
/*  background: white;*/
/*  cursor: inherit;*/
/*  display: block;*/

/*}*/

/*.btn-file > i + span{*/
/*  padding-left: 2px;*/
/*}*/



/*.btn-file > span + i{*/
/*  padding-left: 2px;*/

/*}*/

.pill-warning.active > a,
.pill-warning a {
    color: #8a6d3b; !important;
}
.nav-pills > li.pill-warning > a {
    color: #8a6d3b !important;
}
.nav-pills > li.pill-warning.active > a,
.nav-pills > li.pill-warning.active > a:hover,
.nav-pills > li.pill-warning.active > a:focus {
    color: #66512c !important;
    background-color: #f7ecb5 !important;
}

.pill-danger.active > a,
.pill-danger a {
    color: #a94442 !important;
}

.nav-pills > li.pill-danger.active > a,
.nav-pills > li.pill-danger.active > a:hover,
.nav-pills > li.pill-danger.active > a:focus {
    color: #843534 !important;
    background-color: #e4b9b9 !important;
}


.table > tbody > tr > td {
    vertical-align: middle !important;
}

textarea {
    resize: vertical;
}

/*.text-muted {*/
/*    color: #777777;*/
/*}*/
/*.text-primary {*/
/*    color: #337ab7;*/
/*}*/
/*a.text-primary:hover,*/
/*a.text-primary:focus {*/
/*    color: #286090;*/
/*}*/
/*.text-success {*/
/*    color: #3c763d;*/
/*}*/
/*a.text-success:hover,*/
/*a.text-success:focus {*/
/*    color: #2b542c;*/
/*}*/
/*.text-info {*/
/*    color: #31708f;*/
/*}*/
/*a.text-info:hover,*/
/*a.text-info:focus {*/
/*    color: #245269;*/
/*}*/
/*.text-warning {*/
/*    color: #8a6d3b;*/
/*}*/
/*a.text-warning:hover,*/
/*a.text-warning:focus {*/
/*    color: #66512c;*/
/*}*/

/*.text-danger {*/
/*    color: #a94442;*/
/*}*/
/*a.text-danger:hover,*/
/*a.text-danger:focus {*/
/*    color: #843534;*/
/*}*/